@{
    ViewData["Title"] = "Results";
}
@model List<Uplift.DataAccess.Data.Item>



<script type="text/javascript" src="~/js/script.js"></script>

<main id="main">
    <section class="services">
        <div class="container" id="Search-results-container">
            <h2 id="h2" style="color:grey">Search results</h2>
            <div class="row" id="Search-results-items-div">
                
                @foreach (var Item in Model){

                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Search-results-items-div", 0)</script>}
            </div>
        </div>
    </section>
</main>
