@{
    ViewData["Title"] = "Items";
}

<div class="si-row">
    <div class="si-column si-left">
        <img id="si-main-image" src="https://i.imgur.com/hGhLQaH.jpg" alt="Image"/>
        <div id="imageGallery">
            <img onclick="swapPic1()" id="p1" class="miniImage" src="https://i.imgur.com/hGhLQaH.jpg" alt="Image"/>
            <img onclick="swapPic2()" id="p2" class="miniImage" src="https://i.imgur.com/q4oOAWR.jpg" alt="Image"/>
            <img onclick="swapPic3()" id="p3" class="miniImage" src="https://i.imgur.com/jPhCDdB.jpg" alt="Image"/>
        </div>
    </div>
    <div class="si-column si-right">
        <p>Some text..</p>
    </div>
</div>
